<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVA3_4_MULTI_VIEWS_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>289CCFD71EBB8C15001F5CF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>289CCFEB1EBB8C1F001F5CF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>289CCFF61EBB8C20001F5CF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
